FileSharing_FTP_Client/Service References/ServiceReference1/DBService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DBService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56062/DBService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56062/DBService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDBService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IDBService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IDBService_checkAuthentication_InputMessage">
    <wsdl:part name="parameters" element="tns:checkAuthentication" />
  </wsdl:message>
  <wsdl:message name="IDBService_checkAuthentication_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkAuthenticationResponse" />
  </wsdl:message>
  <wsdl:message name="IDBService_addUserToOnlineUsersTable_InputMessage">
    <wsdl:part name="parameters" element="tns:addUserToOnlineUsersTable" />
  </wsdl:message>
  <wsdl:message name="IDBService_addUserToOnlineUsersTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUserToOnlineUsersTableResponse" />
  </wsdl:message>
  <wsdl:message name="IDBService_removeUserFromOnlineUsersTable_InputMessage">
    <wsdl:part name="parameters" element="tns:removeUserFromOnlineUsersTable" />
  </wsdl:message>
  <wsdl:message name="IDBService_removeUserFromOnlineUsersTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeUserFromOnlineUsersTableResponse" />
  </wsdl:message>
  <wsdl:portType name="IDBService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/DoWork" message="tns:IDBService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/DoWorkResponse" message="tns:IDBService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkAuthentication">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/checkAuthentication" message="tns:IDBService_checkAuthentication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/checkAuthenticationResponse" message="tns:IDBService_checkAuthentication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addUserToOnlineUsersTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/addUserToOnlineUsersTable" message="tns:IDBService_addUserToOnlineUsersTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/addUserToOnlineUsersTableResponse" message="tns:IDBService_addUserToOnlineUsersTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeUserFromOnlineUsersTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/removeUserFromOnlineUsersTable" message="tns:IDBService_removeUserFromOnlineUsersTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/removeUserFromOnlineUsersTableResponse" message="tns:IDBService_removeUserFromOnlineUsersTable_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDBService" type="tns:IDBService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IDBService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkAuthentication">
      <soap:operation soapAction="http://tempuri.org/IDBService/checkAuthentication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserToOnlineUsersTable">
      <soap:operation soapAction="http://tempuri.org/IDBService/addUserToOnlineUsersTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeUserFromOnlineUsersTable">
      <soap:operation soapAction="http://tempuri.org/IDBService/removeUserFromOnlineUsersTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DBService">
    <wsdl:port name="BasicHttpBinding_IDBService" binding="tns:BasicHttpBinding_IDBService">
      <soap:address location="http://localhost:56062/DBService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>